section.group-section{
  padding: 44px 0 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.group-sectino_title{
  line-height: 1.4;
  letter-spacing: -.3px;
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 700;
  text-align: center;
}

.group-section_logos{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.group-logo{
  margin: 0 15px 20px;
  height: 28px;
}

.group-logo img {
  height: 100%;
  filter: grayscale(1);
  max-width: 100%;
  display: block;
}