.curses{
  padding: 24px 0;
}

.curses-container{
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.curses-header{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 16px;
}

.subtext{
  font-weight: 400;
  color: #757575;
}

.swiper-container{
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 0;
  z-index: 1;
}

.rating{
  display: flex;
  align-items: center;
}

.rating .review-count{
  font-size: 0.75rem;
  color: #4a4a4a;
}

.swiper-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
  padding: 6px 0;
}

.curses-card{
  background-color: #fff;
  color: #454545;
  max-width: 100%;
  position: relative;
}

.curses-title{
  flex: 1 1 auto;
  font-weight: 700;
  margin-bottom: 0;
  line-height: 1.5em;
  height: 3rem;
  font-size: 1rem;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.instructor{
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

.card-image > img{
  width: 100%;
}

.price{
  font-weight: 700;
  color: #175cbe;
}

.tags{
  padding-top: 0.5rem;
}

.tag{
  align-items: center;
  background-color: #fff;
  border-radius: 4px;
  color: #454545;
  display: inline-flex;
  font-size: .75rem;
  height: 2em;
  justify-content: center;
  line-height: 1.5;
  padding-left: 0.75em;
  padding-right: 0.75em;
  white-space: nowrap;
}