
.inflab{
  height: 40px;
  background-color: #fff;
  border-bottom: 1px solid #f1f3f5;
}

.inflab-container{
  height: 100%;
  margin: 0 auto;
  padding: 9.9px 32px;
  max-width: 1200px;
  color: #616568;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -.3px;
  font-size: 14px;
}

.inflab-service{
  float: left;
}

.inflab-service > a {
  color: #616568;
}

.inflab-right{
  float: right;
}

a > span {
  color: #3e4042;
}