.search-bar{
  width: 100%;
  padding-top: 48px;
}

.search-container{
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  width: auto;
}

.search-content{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-wrapper{
  max-width: 580px;
  width: 100%;
  position: relative;
}

.search-input{
  background-color: rgba(29,192,120,.12);
  border: 1px solid rgba(29,192,120,.24);
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
  width: calc(100% - 20px);
  padding: 14px 20px;
  border-radius: 28px;
  height: auto;
  transition: all .2s ease;
}

.search-submit{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  background-color: inherit;
  border: unset;
  outline: none;
}