* {
    box-sizing: inherit;
    margin:0px;
    padding:0px;
}

header {
    display : block;
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
    margin:0px;
    padding:0px;
}

body {
  overflow-x: hidden;
}

section.upper-bar .upper-nav ul {
    display: flex;
}

section.upper-bar .upper-nav li {
    display: flex;
    align-items: center;
}

section.upper-bar header {
    max-width: 1200px;
    width: 100%;
}



/*section 태그 style*/
section.upper-bar {
    position: sticky;
    z-index: 74;
    height: 40px;

    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-bottom: 1px solid #f1f3f5;
    z-index: 30;
}

/*section 안의 div style*/
section.upper-bar .upper-nav {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin: 0 auto;
    padding: 0 32px;
    max-width: 1200px;
    color: #616568;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
}



/*"교육" 링크 style*/
section.upper-bar .upper-nav .upper-link-left a.active {
    font-weight: 700;
    color: #1b1c1d;
}

/*교육, 채용 사이 bar*/
section.upper-bar .upper-nav li:not(:last-child):after {
    content: "";
    display: block;
    margin: 0 8px;
    width: 1px;
    height: 12px;
    background: #d5dbe2;
}

/*section 왼쪽 링크 style*/
section.upper-bar .upper-nav .upper-link-left a {
    display: flex;
    align-items: center;
    margin-right: 2px;
    font-weight: 500;
    color: #858a8d;
}

/*section 오른쪽 링크 style*/
section.upper-bar .upper-link-right a {
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: -.3px;
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    color: #000000;
}

/*이미지랑 링크 사이 여백 주기*/
section.upper-bar .upper-nav .upper-link-left svg {
    margin:4px;
}




/*nav bar style*/
#header {
    top: 0;
    left: 0;
    right: 0;
    z-index: 74;
    height: 64px;
    display:block;
}

.nav-left-wrapper {
  display:flex;
  margin-right: 300px;
  margin-left: 150px;
}

.nav-bar {
    display:block;
}

.content {
    display:flex;
}

.logo {
    display:flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
}

.nav-left{
    display: flex;
}

.nav-left-item {
    margin: 5px 10px;
    border: 5px 10px;
    padding: 5px 10px;
}

.nav-right {
    display:flex;
    height: 100%;
    padding:5px;
    float:right;
}

.search {
    padding:0px 8px;
    margin:8px;
}

.input {
    border-radius:3px;
    box-shadow: none;
    background: #f6f6f6;
    color:#5f5f5f;
    border: 1px solid transparent;
    width:128px;
    height:24px;
}

.nav-right-item {
    margin:8px 5px;
    text-align: center;
}

.sign-up {
    margin:8px 8px;
    text-align: center;
    border:1px solid #dbdbdb;
    border-radius:3px;
    padding:4px;

}

.join {
    background-color: #ff7867;
    border: 1px solid #dbdbdb;
    margin:8px;
    color:#fff;
    text-align: center;
    padding:4px;
    border-radius:3px;
}



/*banner*/

.banner{
    border-bottom: 1px solid #e9ecef;
}


.container-one{
  max-width: 1200px;
  padding: 0 10px;
  height: 64px;
  margin: 0 auto;
}

.contents{
  display: grid;
  padding-top: 13.5px;
  grid-template-columns: 135px 33px 1fr 52px;
  height: 100%;
}

.swipe-control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  width: calc(135px - 2rem);
  height: 36px;
  font-size: .875rem;
  color: #fff;
  border-radius: 20px;
  background-color: rgba(0,0,0,.5);
}

.ctrl-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50px;
}

.emp{
  margin: 0 1rem;
  width: 1px;
  height: 36px;
  background-color: #dee2e6;
}

.swipe-container {
  display: flex;
  flex-direction: row;
}

.swipe{
  flex: 0 0 auto;
  padding: 0 1rem;
  margin: 0 3px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: .875rem;
  font-weight: 700;
  color: #495057;
  border-radius: 20px;
  box-shadow: inset 0 0 0 1px #ced4da;
  background-color: #fff;
  cursor: pointer;
}

.swipe-button{
  margin-left: 1rem;
  width: 36px;
  height: 36px;
  font-size: 1rem;
  color: #495057;
  border-radius: 36px;
  border: 1px solid #ced4da;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%);
  background-color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 45px;
}




/*중간 검색창*/

.search-bar{
    width: 100%;
    padding-top: 48px;
  }
  
  .search-container{
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
    width: auto;
  }
  
  .search-content{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .search-content > h1{
    margin-bottom: 2%;
  }
  
  .search-wrapper{
    max-width: 580px;
    width: 100%;
    position: relative;
  }
  
  .search-input{
    background-color: rgba(29,192,120,.12);
    border: 1px solid rgba(29,192,120,.24);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 10%);
    width: calc(100% - 20px);
    padding: 14px 20px;
    border-radius: 28px;
    height: auto;
    transition: all .2s ease;
  }
  
  .search-submit{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    background-color: inherit;
    border: unset;
    outline: none;
  }





  /*태그*/

  .tag{
    padding-top: 5px;
    margin-top: 5px;
  }
  
  .tag-container{
    display: flex;
    justify-content: space-around;
    padding-top: 5px;
    margin: 0 auto;
    max-width: 580px;
    width: 100%;
  }
  
  .tag-item{
    display: inline-flex;
    align-items: center;
    font-weight: 400;
    font-size: 12px;
    margin: 4px;
    padding: 0 12px;
    height: 28px;
    color: #3e4042;
    font-weight: 500;
    border-radius: 20px;
    background: #f1f3f5;
  }









  /*강의 리스트 & 로드맵 & 큐레이션 & 리뷰*/

  .free-course, .welcome-course, .roadmap, .curation, .new-course, .review {
    padding-top:30px;
    padding-bottom: 30px;
    display:block;
  }
  
  .free-course-container, .welcome-course-container, .roadmap-container, .new-course-container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
  }

  .review-container {
    max-width: 1200px;
    padding:0 10px;
    margin: 0 auto;
    position:relative;
    width:auto;
  }

  .curation-container{
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
    overflow-y: hidden;
    overflow-x: auto;
  }

  .curation-container::-webkit-scrollbar {display: none;}
  
  .free-course-header, .welcome-course-header, .roadmap-header, .new-course-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 16px;
  }
  
  .subtext{
    font-weight: 400;
    color: #757575;
  }

  .course-tag {
    color:#fa4c3d;
    font-size:12px;
    font-weight: 700;
  }

  .free-course-item-wrapper, .welcome-course-item-wrapper, .new-course-item-wrapper {
    width:231px;
    position:relative;
    display:flex;
    box-sizing: content-box;
  }

  .roadmap-item-wrapper {
    width:290px;
    position:relative;
    display:flex;
    box-sizing: content-box;
  }

  .curation-item-wrapper {
    width:422px;
    position:relative;
    display:flex;
    box-sizing: content-box;
  }

  .free-course-item-wrapper > a {
    width: 231px;
    height: 316px;
    margin-right: 6px;
  }

  .welcome-course-item-wrapper > a {
    width: 231px;
    height: 316px;
    margin-right: 6px;
  }

  .roadmap-item-wrapper > a {
    width: 291px;
    height: 248px;
    margin-right: 6px;
  }

  .curation-item-wrapper > a {
    width: 422px;
    height: 320px;
    margin-right: 6px;
    margin-left: 4px;
  }

  .new-course-item-wrapper > a {
    width: 422px;
    height: 320px;
    margin-right: 6px;
    margin-left: 4px;
  }

  .course-ribbon {
    position : absolute;
    padding: .125rem;
    top:5%;
    right:0;
    color:#fff;
    background: #ff6318;
    font-size:.875rem;
    font-weight:700;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid #fff;
    border-right: none;
  }

  .fas {
    font-family: Font Awesome\ 6 Pro;
    font-weight: 900;
  }

  .item-image > img{

    height:150px;
  }

  .curation-item-image > img {
    height:150px;
    width:422px;
    height:220px;
  }

  .item-content > .course-title {
    font-weight: 700;
    height:4rem;
    font-size: .95rem;
    font-weight: 700;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .instructor {
    color:#7d7d7d;
    font-size: .9rem;
  }

   .item-content {
    padding-top:1rem;
  }

  .roadmap-content {
    font-size: .85rem;
    font-weight: 800;
  }

  .curation-item-content > .curation-content-title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
    color:#333;
    font-size: 1.125rem;
    line-height: 1.5;
    width:422px;
    height: 27px;
  }

  .curation-item-content > .curation-content-text {
    font-size: 1rem;
    color: #595959;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 3rem;
    width: 100%;
  }

  .star {
    position:relative;
    align-items: center;
  }

  .star-count {
    position:absolute;
    margin-left:5px;
    font-size:.5rem;
    bottom:.3rem;
    color:#3e4042
  }

  .price {
    font-weight: 700;
    color:#175cbe;
  }

  .price > del {
    color:#595959;
    font-weight: 500;
    font-size: .9rem;
    opacity: .75;
  }

  .price > .pay_price {
    margin-left: .25rem;
  }

  .tags {
    align-items: center;
    display:flex;
  }

  .tag {
    border-radius: 4px;
    text-align: center;
    color:#454545;
    height:2em;
    padding-left: .75em;
    padding-right: .75em;
    font-size: .75rem;
    margin-top: .5rem;
    margin-right: .5rem;
  }



  /*강의 hover*/
  .free-course-item-hover {
    display:none;
    position:absolute;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
    margin:auto;
    width: 230px;
    height: 360px;
    background-color: rgba(0, 0, 0, .9);
    color:#fff;
    font-size:13px;
  }

  .hover-click {
    position: absolute;
    padding: .5rem;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    color:#fff;
  }

  a .free-course-item-hover::after {
    content:'';
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,.5);
    z-index:1;
    opacity:0;
    transition:all .35s;
}

  .free-course-item-hover :hover {
    bottom:50%;
  }

  .free-course-item-hover :hover .hover-click::after {
    opacity:1;
}









  /*리뷰*/

  .review-content {
    display:flex;
    justify-content: space-between;
  }

  .review-content-left {
    max-width: 480px;
    width:100%;
    padding: 40px 16px 40px 0;
  }

  .review-content-left-title {
    color:#242424;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 1.33;
    font-size: 2.25rem;
  }

  .review-content-left-title > .user-cnt {
    color:#47c880;
  }

  .review-content-left-text {
    color:#757575;
    margin-bottom: 40px;
    font-size: 1rem;
  }

  .review-content-left-btn {
    align-items: center;
    display: flex;
    justify-content: flex-start;
  }

  .review-content-left-btn-link {
    font-size: 16px;
    color:#333;
    border-radius: 3px;
    border: 1px solid #1dc078;
    background-color: #fff;
    height: auto;
    line-height: 1;
    margin-right: .5rem;
    margin-bottom: .5rem;
    padding:10px 16px;
    vertical-align: top;
    position:relative;
    text-align: center;
  }


  .review-content-right {
    max-width: 590px;
    width: 100%;
  }

  .review-content-swiper-container {
    height:480px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    list-style: none;
    padding: 0;
  }

  .review-content-swiper-wrapper {
    flex-direction: column;
    position:relative;
    width: 100%;
    height: 100%;
    display:flex;
    overflow: auto;
    scroll-behavior:smooth;
  }

  .review-content-swiper-wrapper::-webkit-scrollbar {
    display: none;

  }

  .review-content-swiper-box {
    background-color: #f9f9f9;
    width: auto;
    height: auto;
    margin:5px;
    border-radius: 4px;
    color:#333;
    padding:16px;
    position:relative;
    box-shadow:0 2px 3px rgb(0 10 18 / 10%), 0 0 0 1px rgb(0 10 18 / 10%);
    display: block;
  }

  .box-header {
    margin-bottom: 16px;
  }

  .box-header-name {
    color:#757570;
    margin-right: 8px;
  }

  .box-header-data {
    color:#979797;
  }

  .box-text-title {
    display: flex;
    align-items: center;
    color:#333;
    margin-bottom: 4px;
    font-size: 1.1rem;
    line-height: 1.5;
    font-weight: 600;
  }

  .box-text-text {
    color:#333;
    font-size:1rem;

  }







  /*하단배너*/

  .bottom-banner {
    padding: 24px 0px;
    display:block;
  }

  .bottom-banner-container {
    position:relative;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .bottom-banner-wrapper {
    position:relative;
    width: 100%;
    height: 100%;
    display: flex;
  }

  .bottom-banner-swiper {
    padding:40px 0px;
    background-image: url("https://cdn.inflearn.com/public/main_sliders/3b67a1a1-aae3-442e-8e17-791b7cdfb5f5/bottom-1920-205-%281111%29.jpg");
    width:1519px;
  }

  .bottome-banner-content {
    max-width: 1200px;
    padding:10px;
    position:relative;
    align-items: center;
  }

  .bottom-banner-content-title {
    font-weight: 100;
    font-size: 1rem;
    left:200px;
  }