*{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.footer_benner{
    background-image: url("../../public/img/main/footerBenner.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 10vw;
    position: relative;
    margin-bottom: 2rem;
}

#container{
    width: auto;
    position: absolute;
    top: 2rem;
    left: 10%;
}

.footer_benner > p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

#more_btn{
    font-size: 1.2rem;
    width: fit-content;
    height: fit-content;
    padding: .8rem;
    color: lightgreen;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
