
.inflab{
  display: block;
  height: 40px;
  width: 100%;
  background-color:#fff;
  border-bottom: 1px solid #f1f3f5;
}

.inflab-container{
  display: flex;
  justify-content: space-between;
  height: 100%;
  margin: 0 auto;
  padding: 9.9px 32px;
  max-width: 1200px;
  color: #616568;
  font-weight: 400;
  font-size: 14px;
}

.inflab-service{
  display: flex;
  float: left;
}

.inflab-service a {
  display: flex;
  align-items: center;
  color: #616568;
}

.inflab-right{
  float: right;
}

a span {
  color: #3e4042;
}